<footer class="bg-awsbg text-white p-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xl-4">
        <h5>{{'site.contactme' | translate }}</h5>
        <p><a class="text-decoration-none text-white" [routerLink]="['/contactme']">
            <i class="fa fa-envelope fa-fw mr-4"></i>
            {{'personalinfo.email'| translate}}</a></p>
        <p><a class="text-decoration-none text-white"
            href="https://api.whatsapp.com/send?phone={{'personalinfo.areacode'| translate}}{{'personalinfo.mobile'| translate}}&text={{'personalinfo.whatsappmsg'|translate}}">
            <i class="fa fa-whatsapp fa-fw mr-4"></i>
            +{{ 'personalinfo.areacode' | translate }}{{'personalinfo.mobile' | translate }}
          </a></p>
        <hr>
      </div>
      <div class="col-md-4 col-xl-3">
        <h5>{{'socialmedia.statement' | translate }}</h5>
        <p><a class="text-decoration-none text-white" href="{{'socialmedia.facebook' | translate}}" target="_blank">
            <i class="fa fa-facebook pr-2"></i>Facebook</a></p>
        <p><a class="text-decoration-none text-white" href="{{'socialmedia.linkedin' | translate }}" target="_blank">
            <i class="fa fa-linkedin pr-2"></i>Linkedin</a></p>
        <p><a class="text-decoration-none text-white" href="{{'socialmedia.github' | translate }}" target="_blank">
            <i class="fa fa-github pr-2"></i>Github</a></p>
        <hr>
      </div>
      <div class="col-md-4 col-xl-5">
        <h3>{{'site.Slogan' | translate }}</h3>
      <p>Designed by Star Service</p>
      <p class="rights">2017- {{currentyear| date:'yyyy'}} Harsh Israni. All right reserved.</p>
      <hr>
    </div>
  </div>
  </div>
</footer>