<div class="card mb-2">
  <img src="https://websitedataresume.s3.ap-south-1.amazonaws.com/images/profile.jpg"
    class="card-img-top" alt="Cavour Resume photo">
  <div class="card-body bg-awsbg">
    <p class="card-text justify-content-center text-white">
      {{'personalinfo.name'|translate}}
    </p>
  </div>
</div>
<p><i class="fa fa-briefcase fa-fw mr-4"></i>{{'personalinfo.title'|translate}}</p>
<p><i class="fa fa-industry fa-fw mr-4"></i>{{'personalinfo.industry' |translate}}</p>
<p><i class="fa fa-map-marker fa-fw mr-4"></i>{{'personalinfo.hometown'|translate }}</p>