<nav class="navbar navbar-expand-lg navbar-light bg-awsbg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerCv"
    aria-controls="navbarTogglerCv" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon btn-awsorange"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerCv">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/']">{{'site.home' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/technology']">{{'site.techofpage' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/about']">{{'site.aboutpage' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" [routerLink]="['/contactme']">{{'site.contactme' | translate }}</a>
      </li>
    </ul>
   
  </div>
</nav>