<div class="accordion" id="accordionTechnology">
  <div class="card">
    <div class="card-header bg-awsbg" id="headingHosting">
      <h2 class="mb-0">
        <button class="btn text-white text-decoration-none" type="button" data-toggle="collapse" data-target="#collapseHosting" aria-expanded="true" aria-controls="collapseHosting">
          {{'technology.hosting.title' | translate }}
        </button>
      </h2>
    </div>
    <div id="collapseHosting" class="collapse show" aria-labelledby="headingHosting" data-parent="#accordionTechnology">
      <div class="card-body">
        {{'technology.hosting.content' | translate }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-awsbg" id="headingAvailability">
      <h2 class="mb-0">
        <button class="btn text-white text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#collapseAvailability" aria-expanded="false" aria-controls="collapseAvailability">
          {{'technology.availibility.title' | translate }}
        </button>
      </h2>
    </div>
    <div id="collapseAvailability" class="collapse" aria-labelledby="headingAvailability" data-parent="#accordionTechnology">
      <div class="card-body">
        {{'technology.availibility.content' | translate }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-awsbg" id="headingDevelopment">
      <h2 class="mb-0">
        <button class="btn text-white text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#collapseDevelopment" aria-expanded="false" aria-controls="collapseDevelopment">
          {{'technology.development.title' | translate }}
        </button>
      </h2>
    </div>
    <div id="collapseDevelopment" class="collapse" aria-labelledby="headingDevelopment" data-parent="#accordionTechnology">
      <div class="card-body">
        {{'technology.development.content' | translate }}
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-awsbg" id="headingDeployment">
      <h2 class="mb-0">
        <button class="btn text-white text-decoration-none collapsed" type="button" data-toggle="collapse" data-target="#collapseDeployment" aria-expanded="false" aria-controls="collapseDeployment">
          {{'technology.deployment.title' | translate }}
        </button>
      </h2>
    </div>
    <div id="collapseDeployment" class="collapse" aria-labelledby="headingDeployment" data-parent="#accordionTechnology">
      <div class="card-body">
        {{'technology.deployment.content' | translate }}
      </div>
    </div>
  </div>
</div>